.checkout {
    display: flex;
    // flex-direction: column;
    background-color: #e6e4e4;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .checkout-image {
        height: 50vh;
        width: auto;

    }
}
