//Ipad or Tablet view
@media only screen and (max-width: 768px) {
    .releases {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
        margin-left: 25px;
        color: white;
        h1 {
            font-size: 7vw;
            margin-top: 3rem;
        }

        .carosel-container {
            height: 100%;
            width: 80vw;
            overflow: hidden;

            .carosel-slide {
                height: 100%;
                display: flex;
                width: 300%;
            }
        }
        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80vw;

            .shoe-title-release{
                margin-bottom: 20px;
                font-size: 5.5vw;
                text-align: center;
            }

            .picture-release {
                width: 100%;
                background-color: white;
                margin-bottom: 20px;

                img {
                    height: auto;
                    width: 100%;
                }
            }

            .info-top {
                width: 100%;
                .price-container {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 14px;
                }

                .sizes {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 14px;
                }
            }

            .info-bottom {
                width: 100%;
                .add-bag {
                    text-align: center;
                    padding: 10px;
                    background: black;
                    color: white;
                    margin-top: 50px;
                    margin-bottom: -3vh;
                }
            }
        }
    }
}

//Desktop view
@media only screen and (min-width: 769px) {
    .release-nav {
        padding-left: 150px;
        padding-right: 150px;
    }
    .releases {
        height: 100vh;
        padding-left: 150px;
        padding-right: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        p {
            font-size: 1.2vw;
        }
        h1 {
            font-size: 3vw;
            margin-bottom: 45px;
        }

        .carosel-container {
            height: 100%;
            overflow: hidden;

            .carosel-slide {
                height: 100%;
                display: flex;
                width: 100%;
            }
        }

        .card {
            height: 100%;
            width: 100%;
            display: flex;
            -webkit-box-shadow: 4px 9px 17px -6px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 4px 9px 17px -6px rgba(0, 0, 0, 0.75);
            box-shadow: 4px 9px 17px -6px rgba(0, 0, 0, 0.75);
            .info-release {
                height: 100%;
                width: 50%;
                padding: 100px 60px;
                background-color: #0f75c7;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2 {
                    font-size: 2.2vw;
                    margin-bottom: 25px;
                }

                h4 {
                    font-size: 1.4vw;
                    font-weight: 500;
                }

                .price-container {
                    margin-bottom: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .sizes {
                    display: flex;
                    justify-content: space-between;
                }

                .info-bottom {
                    p {
                        margin-top: 10px;
                    }
                    .add-bag {
                        text-align: center;
                        padding: 10px;
                        background: black;
                        color: white;
                        margin-top: 50px;
                        cursor: pointer;
                        transition: 0.5s;
                        &:hover {
                            background-color: #fff;
                            color: black;
                        }
                    }
                }
            }
            .picture-release {
                height: 100%;
                background-color: white;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

.ctrl-buttons {
    // border: solid black 0.5px;
    z-index: 2;
    width: 30vw;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    cursor: pointer;

    .c-btn {
        text-align: center;
        padding: 10px;
        background: black;
        color: white;
        transition: 0.5s;
        &:hover {
            background-color: #fff;
            color: black;
        }
    }
}
